div .snow {
    position: absolute;
    color: rgb(28, 190, 166);
}

div .snow:hover {
    color: blueviolet;
    cursor: pointer;
}

main {
    background-color: rgb(16, 15, 23);
    color: rgb(231, 231, 229);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 150px;
}

#info .greeting {
    background-color: rgb(28, 190, 166);
    border-radius: 30px 30px 30px 0;
    width: 45%;
    font-size: 18px;
    padding: 13px;
    padding-left: 20px;
    margin-bottom: 15px;
}
.greeting:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.6s;
}

.name, .job {
    margin-bottom: 10px;
}
.name {
    margin-left: 10px;
}

.email, .phone-number {
    margin-bottom: 5px;
}

.social-links {
    margin: 10px;
    font-size: 2em;
    margin-top: 20px;
}

.social-links a i {
    padding-right: 15px;
    color: rgb(231, 231, 229);
}

.social-links i:hover {
    color: rgb(28, 190, 166);
}

.cv {
    margin: 20px 10px 10px 10px;
}

.cv a {
    text-decoration: none;
    font-size: 18px;
}

.cv a:hover {
    border-bottom: 2px solid rgb(28, 190, 166);
    padding-bottom: 10px;
    transform: scale(1.1);
    transition: 0.3s;
}


.photo img {
    width: 300px;
    height: 300px;
    border: 30px solid black;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {

    /* main #info {
        order: 2;
    }
    main .photo {
        order: 1;
    } */
    
    main {
        display: block;
        width: 60%;
        margin: auto;
    }
    main #info {
        margin-bottom: 45px;
    }

    #info .greeting {
        width: 30%;
    }
}