.contact-body {
    width: 280px;
    margin: auto;
    position: relative;
    top: 100px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

form input,label,textarea {
    margin: 3px;
}

form input {
    padding: 10px;
    background-color: rgb(16, 15, 23);
    border: 1px solid rgb(231, 231, 229);
    border-radius: 20px;
}

form input#message {
    height: 150px;
}

#submit:hover {
    color: rgb(28, 190, 166);
    cursor: pointer;
}




