.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}

.main-info {
    width: 50%;
}

.main-info h2 {
    width: 35%;
    background-color: rgb(28, 190, 166);
    border-radius: 30px 30px 30px 0;
    margin: 10px;
    padding: 12px;
}

h3, h4 {
    margin: 10px;
}

.git-hub i {
    font-size: 4em;
    padding: 15px;
}

.git-hub a {
    text-decoration: none;
}

.git-hub i:hover {
    color: rgb(28, 190, 166);
}
/* 
@media only screen and (max-width: 768px) {
    .main {
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .main-info {
        width: 80%;
        margin: auto;
        margin-left: 100px;
    }
    .main-info .text {
        width: 50%;
    }
} */